<h1 mat-dialog-title>Upload Avatar</h1>

<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" mat-dialog-content>
  <input #uploadFile type="file" (change)="readURL($event)" accept="image/*">
  <button
    *ngIf="!uploadFile.files || !uploadFile.files.length"
    mat-raised-button
    color="primary"
    (click)="uploadFile.click()"
  >
    <mat-icon>cloud_upload</mat-icon>
    Choose file (max. 2MB)
  </button>
  <div *ngIf="uploadFile.files && uploadFile.files.length > 0" style="max-width: 600px">
    <p style="font-size: 0.7rem">Please select the area which will be your avatar and then press "Submit"</p>

    <div>
      <img #cropBeforeUpload src="" />
    </div>
  </div>
  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">
    CANCEL
  </button>
  <button mat-button (click)="reset()">
    CLEAR
  </button>
  <button mat-button (click)="submit()" color="primary">
    SUBMIT
  </button>
</div>
