<div class="flexbox-item-grow fill-area-content list">

  <div *ngIf="!loadedInitially" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card *ngFor="let commitment of commitments">
    <mat-card-title>{{ commitment.minutes }} minutes of {{ commitment.type }} meditation</mat-card-title>
    <mat-card-subtitle *ngIf="subscribedCommitments.hasOwnProperty(commitment._id)">
      You've reached {{ subscribedCommitments[commitment._id].reached }}%.
    </mat-card-subtitle>

    <p>
      <button
        mat-raised-button
        color="primary"
        (click)="commit($event, commitment)"
        *ngIf="!(committed(commitment) | async)"
      >
        COMMIT
      </button>

      <button
        mat-raised-button
        color="warn"
        (click)="uncommit($event, commitment)"
        *ngIf="(committed(commitment) | async)"
      >
        UNCOMMIT
      </button>
    </p>

    <div class="commitment-user-list clearfix" [class.hide-all]="!showAll(commitment)">
      <div
        class="commitment-user-entry z-index-{{ 7 - i }}"
        *ngFor="let user of commitment.users; let i = index"
        [class.hidden]="i > 7 && !showAll(commitment)"
        [class.show-btn]="i == 7 && !showAll(commitment)"
      >
        <a *ngIf="i != 7 || showAll(commitment)" [routerLink]="user.username ? ['/profile', user.username] : ['/profile/id', user._id]">
          <img 
            class="profile-image" 
            avatar 
            [size]="40" 
            [username]="user.username" 
            [token]="user.avatarImageToken" 
            [title]="user.name"
          >
        </a>
        <button
          mat-icon-button
          class="other-users"
          *ngIf="i == 7 && !showAll(commitment)"
          matTooltip="Show all users."
          (click)="doShow(commitment)"
        >
        +{{ commitment.users.length - i }}
        </button>
      </div>
    </div>
  </mat-card>

  <p class="center">The calculation for daily commitments is based on the last 10 days.</p>
</div>
