<div *ngIf="!loadedInitially" class="loader">
  <mat-spinner></mat-spinner>
</div>


<mat-card class="first-card" *ngIf="loadedInitially">
  <p>Please visit the <a [routerLink]="['/meet']">appointment meeting page</a> once your appointment is due. You can find instructions on how to initiate it <a href="https://gitlab.com/sirimangalo/meditation-plus/wikis/Appointments" target="__blank">in the Wiki</a>.</p>
  <p class="appointment-list">If you would like to register for an appointment slot, please visit this page on a larger screen (e.g. desktop pc).</p>
  <table class="appointment-table" *ngIf="currentTab === 'table'">
    <tr>
      <th>Time</th>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </tr>
    <tr *ngFor="let hour of appointments.hours">
      <td>
        {{ hour | formatHour : rootTimezone }}<br />
        <small>{{ hour | formatHour : rootTimezone : 'UTC' }} UTC</small><br />
        <small>{{ hour | formatHour }} {{ rootTimezoneShort }}</small>
      </td>
      <td *ngFor="let day of [1, 2, 3, 4, 5, 6, 0]">
        <span *ngFor="let app of appointments.appointments">
          <span *ngIf="app.hour == hour && app.weekDay == day">
            <a *ngIf="app.user && app.user._id !== (userId$ | async)" class="taken-appointment"
               [class.admin-appointment]="(admin$ | async)"
               (click)="removeRegistration($event, app)"
            >
              <span class="appointment-username">{{ app.user.name }}</span>
              <span class="appointment-taken">taken</span>
            </a>
            <a href="#"
              *ngIf="app.user && app.user._id === (userId$ | async)"
              class="my-appointment"
              (click)="toggleRegistration($event, app)"
            >
              <span class="appointment-username">{{ app.user.name }}</span>
              <span class="appointment-taken">my</span>
            </a>
            <a href="#"
              *ngIf="!app.user"
              class="free-appointment"
              (click)="toggleRegistration($event, app)"
            >
              free
            </a>
          </span>
        </span>
      </td>
    </tr>
  </table>

  <mat-list class="appointment-list">
    <div *ngFor="let app of appointments.appointments; let i = index">
      <h4
        *ngIf="!appointments.appointments.hasOwnProperty(i - 1) || app.weekDay !== appointments.appointments[i - 1].weekDay">{{ weekDay(app.weekDay) }}
      </h4>
      <mat-list-item class="appointment-row" *ngIf="app.user">
        <img
          [routerLink]="app.user.username ? ['/profile', app.user.username] : ['/profile/id', app.user._id]" 
          mat-list-avatar 
          avatar 
          [username]="app.user.username"
          [token]="app.user.avatarImageToken"
          [size]="40">
        <h3 mat-line>
          <b><a [routerLink]="app.user.username ? ['/profile', app.user.username] : ['/profile/id', app.user._id]">{{ app.user.name }}</a></b>
        </h3>
        <p mat-line>
          {{ getLocalHour(app.hour) }} ({{ getUtcHour(app.hour) }} UTC) ({{ printHour(app.hour) }} {{ rootTimezone }})
        </p>
        <mat-icon *ngIf="(admin$ | async) || app.user._id === (userId$ | async)" (click)="removeRegistration($event, app)">delete</mat-icon>
      </mat-list-item>
    </div>
  </mat-list>

</mat-card>
<mat-card class="primary-card">
  <ul>
    <li>
      This page is for those practicing formal meditation daily who would like to undertake a formal meditation course over the Internet.
    </li>
    <li>
      Book an appointment using the table below by clicking on the appropriate box.
    </li>
    <li>
      When the time for your meeting arrives, please visit the <a [routerLink]="['/meet']">appointment meeting page</a>.
    </li>
    <li>
      <b>You must initiate the appointment yourself.</b> You will not receive a call from the teacher.
    </li>
    <li>
      <b>Please note that if you miss an appointment without notifying us, your reservation will be cancelled.</b>
    </li>
    <li>
      You will need headphones and a microphone, and preferably a webcam as well.
    </li>
    <li>
      Please check if the time in the table is displayed and converted correctly. Recognized timezone: {{ localTimezone }}
    </li>
  </ul>
</mat-card>
