.small-profile-img
  width: 32px
  border-radius: 16px

.center
  text-align: center

.progress
  flex: 1
  -webkit-flex: 1 auto
  position: relative
  top: -59px
  opacity: .6

.progress i
  font-size: 25px

.profile-img
  width: 160px
  border-radius: 80px

.status
  width: 200px
  display: flex
  margin: auto
  text-align: center
  margin-top: 30px
  margin-bottom: 30px

.status-single
  width: 100px

.status img
  height: 20px

.walking
  margin-left: -6px

  .progress
    margin-bottom: -3px

.sitting
  margin-left: 12px

.walking.no-padding, .sitting.no-padding
  margin-left: 0

.walking, .sitting
  .mat-progress-spinner
    margin-top: 10px

.time-done
  opacity: 0.5;

.time-left
  font-size: 35px